.menu-button{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-alignment: center;
}

.menu-button:focused {
    -fx-border-color: transparent;
    -fx-border-width: 1, 1;
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
    -fx-alignment: center;
}

.menu-button:pressed {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-alignment: center;
}

.menu-button > .arrow-button {
    -fx-padding: 0;
}

.menu-button > .arrow-button > .arrow {
    -fx-padding: 0;
}


.button {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 1em; // 12
    -fx-text-fill: black;
    -fx-alignment: center;

}

.button:focused {
    -fx-border-color: transparent;
    -fx-border-width: 1, 1;
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
    -fx-alignment: center;
}

.button:pressed {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-alignment: center;
}